.RequestPageContainer{
    background: rgb(40,52,70);
    background: linear-gradient(320deg, rgba(40,52,70,1) 36%,
    rgba(50,73,107,1) 58%, rgba(69,124,204,1) 82%, rgba(180,205,253,1) 95%);
    height: 100%;
    width: 100%;
}

.haederRequest{
    padding: 20px 0px 0px 20px;
}

.headerTitle-Request{
    color: white;
    font-size: 50px;
    font-family: "Times New Roman";
}

.MainContent-Request{
    background-color: #F7F8F9;
    border-radius: 10px;
    margin: 10px;
    padding: 5px 10px 10px 10px;
}

.tableContainer-Request{
    margin-top: 10px;
}
.form-containerRequest{
    width: 100%;
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Transition for border and box-shadow */
    font-size: 16px;
    outline: none; /* Remove outline */
}

/* Hover effect */
.form-containerRequest:hover {
    border-color: #8BA766; /* Border color on hover */
}

/* Click effect */
.form-inputRequest:focus-within {
    border-color: #32496B; /* Border color when input is clicked or focused */
    box-shadow: 0px 0px 5px #61dafb; /* Box shadow for focus effect */
}

/* Style for the form input */
.form-inputRequest {
    width: 100%;
    background-color: white;
    border: none; /* Remove default input border */
    outline: none; /* Remove input outline */
    padding: 10px; /* Add padding to the input */
    /*border-radius: 20px; !* Rounded corners *!*/
}

.alertBox-request{
    margin-bottom: 5px;
}
